body {
    background-color: red;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14;
}

h1 {
    text-align: center;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    color: #242322;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(-4%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-4%);
    }
}